{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex-column h-100">
        <div class="mb-4">
            <div class="d-flex gap-2 bg-app">
                <twig:Html:Nav items="{{[
                    {route: 'app_home', label: 'Dashboard'},
                    {route: 'app_forms_index', label: 'Formulare'},
                ]}}" />
                <div class="d-flex">
                    <div class="p-3">
                        <a href="{{ path('app_auth_logout') }}" class="btn btn-primary">
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {% set titleBlock %}{% block title %}{% endblock %}{% endset %}
        {% if titleBlock is not empty %}
            <div class="px-3 mb-1">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col">
                            <h1 class="h2 opacity-75">
                                {{ titleBlock }}
                            </h1>
                        </div>
                        {% set actionBlock %}{% block action %}{% endblock %}{% endset %}
                        {% if actionBlock is not empty %}
                            <div class="col-auto">
                                {{ actionBlock }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% set mainBlock %}{% block main %}{% endblock %}{% endset %}
        {% if mainBlock is not empty %}
            <div class="px-2 mb-5 flex-1">
                <div class="container-fluid h-100">
                    <div class="row h-100">
                        {% set leftBlock %}{% block left %}{% endblock %}{% endset %}
                        {% if leftBlock is not empty %}
                            <div class="col-3 h-100">
                                {{ leftBlock }}
                            </div>
                        {% endif %}
                        <div class="col h-100">
                            {{ mainBlock }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% set pageBlock %}{% block page %}{% endblock %}{% endset %}
        {% if pageBlock is not empty %}
            <div class="container-lg mb-5 mt-4 h-100">
                <div class="row h-100">
                    <div class="col h-100">
                        {{ pageBlock }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
