{{ form_start(form) }}
{% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}

<div class="mb-3">
    {{ form_row(form.email) }}
</div>
<div class="mb-3">
    {{ form_row(form.password) }}
</div>
<input
    type="hidden"
    name="_csrf_token"
    value="{{ csrf_token('authenticate') }}"
/>
<div class="mb-3">
    <button class="btn btn-lg btn-primary w-100" type="submit">
        Login
    </button>
</div>
{{ form_end(form) }}

<p>
    Forgot password? <a href="{{ path('app_auth_reset_request')}}">Reset Password</a>
    <span class="d-inline-block px-2">|</span>
    Noch kein Konto? <a href="{{ path('app_auth_registration_index')}}">Jetzt registrieren</a>
</p>
