{% extends 'layouts/public.html.twig' %}

{# form_theme form 'forms/theme/app_floating.html.twig' #}

{% block title %}Create your account{% endblock %}

{% block content %}
    {% for message in app.flashes('success') %}
        <div class="flash-success">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
    <div class="mb-5">
        {{ form_row(form.email) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
    </div>
    <p class="mb-3">
        Optional data
    </p>
    <div class="mb-5">
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.mandate) }}
    </div>
    <div class="mb-2">
        {{ form_row(form.termsAgreed) }}
    </div>
    <div class="mb-3">
        <button class="btn btn-lg btn-primary w-100" type="submit">
            Register
        </button>
    </div>
    {{ form_end(form) }}

    <p>
        Already have an account? <a href="{{ path('app_auth_login') }}">Login</a>
    </p>
{% endblock %}
