<div
    class="modal fade"
    id="{{ id }}"
    tabindex="-1"
    x-on:done.window="loading = false"
    x-on:modal:close.window="loading = false"
    aria-hidden="true"{{ attributes }}
    {%- if not stateless -%}
        x-data="{
          valid:false,
          loading: false,
          confirm() {
            this.loading = true;
            this.$dispatch('{{ id | kebab_case }}:confirm')
          },
        }"
    {%- endif -%}
>
    <div class="modal-dialog modal-dialog-centered{{ size ? ' modal-' ~ size : '' }}">
        <div class="modal-content">
            <div class="modal-header border-bottom-0 mb-4">
                {% if title %}
                    <h5 class="modal-title">
                        {{ title }}
                    </h5>
                {% endif %}
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" :class="{ 'loading-child-btn': loading }">
                {% block content %}{% endblock %}
            </div>
            {% if action %}
                <div class="modal-footer border-top-0">
                    <button type="button" class="btn btn-primary loading">{{ action }}</button>
                </div>
            {% endif %}
        </div>
    </div>
</div>
